# Version control
.git
.gitignore
.pre-commit-config.yaml

# Python
__pycache__
*.pyc
*.pyo
.venv
.mypy_cache
.pytest_cache
.ruff_cache
*.egg-info

# IDE
.vscode
.idea

# Environment
.env
.env.*
!.env.example

# Docker
deployment/docker
compose.yaml

# Docs and tests
docs
tests

# Build artifacts
dist
build
