= {{{appName}}}
{{#headerAttributes}}
{{{version}}}
:toc: left
:numbered:
:toclevels: 4
:source-highlighter: highlightjs
:keywords: openapi, rest, {{appName}}
:app-name: {{appName}}
{{/headerAttributes}}

{{#useIntroduction}}
== Introduction
{{/useIntroduction}}
{{^useIntroduction}}
[abstract]
.Abstract
{{/useIntroduction}}
{{{appDescription}}}

{{#hasAuthMethods}}
== Access

{{#authMethods}}
{{#isBasic}}
{{#isBasicBasic}}* *HTTP Basic* Authentication _{{{name}}}_{{/isBasicBasic}}
{{#isBasicBearer}}* *Bearer* Authentication {{/isBasicBearer}}
{{#isHttpSignature}}* *HTTP signature* Authentication{{/isHttpSignature}}
{{/isBasic}}
{{#isOAuth}}* *OAuth*  AuthorizationUrl: _{{authorizationUrl}}_, TokenUrl:   _{{tokenUrl}}_ {{/isOAuth}}
{{#isApiKey}}* *APIKey* KeyParamName:     _{{keyParamName}}_,     KeyInQuery: _{{isKeyInQuery}}_, KeyInHeader: _{{isKeyInHeader}}_{{/isApiKey}}
{{/authMethods}}

{{/hasAuthMethods}}

== Endpoints

{{#apiInfo}}
{{#apis}}
{{#operations}}

[.{{baseName}}]
=== {{baseName}}

{{#operation}}

[.{{nickname}}]
{{#useMethodAndPath}}
==== {{httpMethod}} {{path}}
{{/useMethodAndPath}}
{{^useMethodAndPath}}
==== {{nickname}}

`{{httpMethod}} {{path}}`
{{/useMethodAndPath}}

{{{summary}}}

===== Description

{{{notes}}}


{{> params}}


===== Return Type

{{#hasReference}}
{{^returnSimpleType}}{{returnContainer}}[{{/returnSimpleType}}<<{{returnBaseType}}>>{{^returnSimpleType}}]{{/returnSimpleType}}
{{/hasReference}}

{{^hasReference}}
{{#returnType}}`{{.}}`{{/returnType}}
{{^returnType}}-{{/returnType}}
{{/hasReference}}

{{#hasProduces}}
===== Content Type

{{#produces}}
* {{{mediaType}}}
{{/produces}}
{{/hasProduces}}

===== Responses

.HTTP Response Codes
[cols="2,3,1"]
|===
| Code | Message | Datatype

{{#responses}}

| {{code}}
| {{message}}
| {{#dataType}}{{#containerType}}{{dataType}}[<<{{baseType}}>>]{{/containerType}}{{^containerType}}<<{{dataType}}>>{{/containerType}}{{/dataType}}{{^dataType}}-{{/dataType}}

{{/responses}}
|===

{{^skipExamples}}
===== Samples

{{#snippetinclude}}{{path}}/{{httpMethod}}/http-request.adoc{{/snippetinclude}}
{{#snippetinclude}}{{path}}/{{httpMethod}}/http-response.adoc{{/snippetinclude}}

{{#snippetlink}}* wiremock data, {{path}}/{{httpMethod}}/{{httpMethod}}.json{{/snippetlink}}
{{/skipExamples}}

{{/operation}}
{{/operations}}
{{/apis}}
{{/apiInfo}}

{{> model}}
